body {
	max-width: 2000px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

html {
	min-height: 100vh;
}


/*footer pasa a header*/

.header {
	left: 0;
	bottom: initial;
	top: 0;
	z-index: 20;
	display: flex;
	position:relative;
}
.header>section>form{
	width:100%;
	display:flex;
	flex-direction:row;
	
}
.header>section>form>input{
	margin-bottom:0;
}
.header>figure{
	position:relative;
	margin-right: 5%;
}
.header>div {
	text-align: end;
	order: 3;
	flex: 1;
	width:70%;
}
/*buscador header*/
.Buscar.header {
	padding: 0.5% 5% 0.5% 5%;
}

/*registro*/
.header>div:nth-child(1)>label:nth-child(1) {
	width: 10%;
}
/*inicio sesión*/
.header>div:nth-child(1)>label:nth-child(2) {
	width: 10%;
}


/*carrito*/
.header>div:nth-child(1)>label:nth-child(4) {
	position: relative;
	bottom: 0;
	width: 10%;
}

.header>div:nth-child(1)>label:nth-child(4)>div {
	background: none;
	border: none;
	padding: 0;

}
.header>div:nth-child(1)>label:nth-child(4)>div > a {
	background-color: white;
	border-radius:100%;
	width: 40%;
	padding-bottom: 40%;
	height: 0;
	height: 24px;
	width: 24px;
	padding: 3%;
	border: 2px solid orange;
	font-weight:bold;
	color: orange;
	margin-left:33%;
	display:none;
	
}


.header>div:nth-child(1)>label:nth-child(4)>div:before {
	color: orange;
}

.header>div:nth-child(1)>label:nth-child(4)>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	height: auto;
	width: 100%;
}

.header>div:nth-child(1)>label:nth-child(4)>div:after {
	content: attr(nombre);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
}

.header>div:nth-child(1)>label:nth-child(3)>div {
	display: none;
}
/***paginacion****/
/*paginacion*/
.page{
	width: 1.5%;
	padding-bottom:1.5%;
}
.page:hover{
	width: 2%;
	padding-bottom:2%;
}
.page--blank{
	width: 1.5%;
	padding-bottom: 1.5%;
}
.page.actual{
	width: 2%;
	padding-bottom:2%;
}
/*logo header para pantallas*/
header{
	width:100%;
}
.header>figure {
	width: 100px;
	height: auto;
	order: 1;
	display: initial;
}

.header>figure img {
	width: 100px;
	height: auto;
}

.header>section {
	order: 2;
	display: flex;
	align-items:flex-start;
	flex: 1;
	align-self: center;
	text-align: center;
	width:100%;
	position:relative;
	padding:0;
	
}
.header>section>form{
	width:60%;
}
.header>section>h1 {
	margin-bottom: 3%;
	margin-left:20%;
}

.header>div:nth-child(1)>label {
	margin-right: 6%;
}
/*icono idiomas*/
.header>div:nth-child(1)>label:nth-child(5) {
	width: 10%;
	margin-left: 0;
}

/*header*/

/*left-nav*/
.block+section {
	order: 3;
	width: 20%;
	
	min-width:200px;
}

nav .menu {
	width: 100%;
}

nav  div {
	display: none;
}

nav .menu>ul {
	display: initial;
	transform: translate(0, 0);
	position: relative;
	margin-left: 0;
}

nav .menu>ul>li {
	display: block;
	transform: translate(0, 0);
}

nav .menu>ul  input[type=submit] {
	width: 100%;
}

.block.search{
	min-height:0;
}
#menuSearch{
	top:5%;
}
/*sección información tienda*/

header+.block {
	min-height: 500px;
}

header+.block>.block_second>div {
	display: initial;
	min-width:200px;
}



.block_second--detail {
	text-align: center;
}
/*opacitdad texto header**/
.header > div:nth-child(1)  label a{
	opacity:1;
}
header+.block>.block_second>div>.block_second--detail>p {
	text-align: center;
	font-size: 0.9rem;
}

header+.block>.block_second>div>figure {
	height: auto;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 7%;
}

header+.block>.block_second>div {
	width: 70%;
}

header+.block>.block_second h1 {
	width: 70%;
	padding: 3%;
	background-color: orange;
	min-width: 200px;
}

header+.block>.block_second>div>figure>figcaption {
	text-align: center;
}



.block h1:after {
	display: none;
}

.block {
	width: 20%;
	order: 4;
	flex-direction: column;
	align-self: revert;
	font-size: 2rem;
	margin-top: 10%;
}

.block_second {
	overflow: initial;
	
}
/*seccionn lista de productos*/
.block.block--results {
	order: 3;
	flex-basis: 50%;
	padding-bottom: 0;
	min-width: 450px;
}

.block.block--results>.block_second {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: unset;
}

.block.block--results>.block_second>div {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	margin: 2%;
	align-items: center;
	min-height: 350px;
	justify-content: space-around;
}
header+.block>.block_second>div>.block_second--detail>.forma {
	font-size: 0.9rem;
}
.block.block--results>.block_second>div>figure {
	background-color: white;
	width: 94%;
	height: 100px;
	margin-bottom: 3%;
	object-fit: contain;
}


/*input unidades*/
.block_second   input{
	width: 12%;
}
.block_second form{
	text-align: center;
}


@media ( max-width : 1300px) {
	/**mostrar texto header*/
	.header > div:nth-child(1)  label a{
	opacity:1;
}
	.block.block--results>.block_second>div {
		flex-basis: 40%;
	}
.select{
	font-size:0.6rem !important;
}
	.page{
	width: 3.5%;
	padding-bottom:3.5%;
}
.page:hover{
	width: 4%;
	padding-bottom:4%;
}
.page--blank{
	width: 3.5%;
	padding-bottom: 3.5%;
}
.page.actual{
	width: 4%;
	padding-bottom:4%;
}
/**bsucador header*/
.header>section>form{
	width:90%;
}

}
@media (max-width:950px){
	#foto_perfil{
	margin-bottom:20%;}
	/**mostrar texto header*/
	.header > div:nth-child(1)  label a{
	opacity:1;
}
	.header>div {
	text-align: center;
	display:flex;
	flex-direction:column;
	position:absolute;
	background-color:white;
	width:20%;
	right:0;
	align-items:center;
	
}
/**buscador header*/

.header > section{
	align-items:flex-start;
}
.header>section>form{
	width:60%;
}
.header>section>h1{
	margin-left:20%;
}
.centralBlock{
	width:100% !important;
}
/**boton crear**/
.Buscar.crear.business{
	    position: absolute;
    right: 0;
    width: 20%;
    bottom: 0;
    padding: 1%;
}
/**para las secciones de empresa**/
.block.crear{
	width: 20%;
	order: 4;
	margin-top:20%;
}
.block.block--results.bussines{
	margin-top:20%;
}
/**vistas detalles sin contenedor nav**/
.block.block--results.detail{
	position: relative;
	flex-basis:100%;
}
body > section.block.block--results.detail > .block_second > div{
	flex-basis:25%;
	min-width: 200px;
}
/******************************/
.block{
	width: 100%;
	order:1;
}
header+.block>.block_second>div{
	display: flex;
}
.block_second{
	flex-direction: column;
	margin-bottom: 0;
}
header+.block>.block_second h1{
	width: 100%;
}
header+.block>.block_second>div {
	width: 100%;
	margin-bottom:0;
}
header+.block>.block_second>div>figure{
	margin-right: 6%;
}
/**selectores**/

.select{
	font-size:0.6rem !important;
}
/*left nav**/

.block + section{
	position:absolute;
	top:0;
	left:0;
	/*margin-top:10% !important;*/
}
.block.crear + section{
	/*top:10%;*/
	
}
nav .menu>ul {
	display: none;
	transform: translate(-200%, 0);
	position: absolute;
	width: 100%;
}

nav .menu>ul>li {
	display: block;
	transform: translate(0, 0);
}
nav  div {
	display: block;
	width: 2em;
}
nav div:after{
	width:2em;
}
nav div:before{
	width:2em;
}
/**secciones**/
.block + section{
	/*margin-top: 10%;*/
	left:0;
}
.block.block--results{
	margin-top:0;
}
/**boton imagen perfil desplegable*/
#button_nav{
	opacity:0;
    display: inline-block;
    position: absolute;
    bottom: -15px;
    right: -25px;
    height: 16px;
}

#foto_perfil{
	display:inline-block;

}
/*ocultar todas las secciones**/
.header > div:nth-child(1) > #foto_perfil ~ label{
	margin-bottom:20%;
	display:none;
}

#foto_perfil > a:after{
    display: inline-block;
    content: '\67';
    font-family: "icomoon";
    color: orange;
 	margin-left: 10%;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    border: 1px solid orange;
    transform: rotate(90deg);
}
/*paginacion*/
.page{
	width: 4.5%;
	padding-bottom:4.5%;
}
.page:hover{
	width: 5%;
	padding-bottom:5%;
}
.page--blank{
	width: 4.5%;
	padding-bottom: 4.5%;
}
.page.actual{
	width: 5%;
	padding-bottom:5%;
}



.block_second{

    display: flex;
    justify-content: center;
}
}

.oferta {
	box-sizing: inherit;
	margin: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	position: absolute;
	left: -39px;
	top: 11px;
	background-color: red;
	padding: 5%;
	width: 82%;
	transform: rotate(-39deg);
	text-align: center;
	box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.oferta  p {
	text-align: center;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	font-size: 1.2rem;
	color: white;
}

.block_second>div {
	overflow: hidden;
}

.block_second>div>p {
	text-align: center;
	
	font-size: 1.2rem;
}

.ofertaDetalle {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	bottom: 40%;
	left:initial;
	top:initial;
	width:auto;
	border-radius: 25%/50%;
	padding: 3%;
	font-size: 1.2rem;
}
/*oferta con precio mostrado*/
.precio:hover ~ .ofertaDetalle {
	display: initial;
}

.precio {
	display: inline-block;
}

.precio+p {
	display: inline-block;
}

.precioNoMostrado:hover ~ .ofertaDetalle {
	display: initial;
}
.ofertaDetalle:hover{
	display:initial;
}
.precioNoMostrado {
	display: inline-block;
}

.precioNoMostrado+p {
	display: inline-block;
}
/*oferta sin precio visible*/
/*seccion producto detalle*/
.centralBlock {
	order: 3;
	width: 50%;
	align-self: baseline;
	margin: 0;
	padding: 0;
	margin-top: 10%;
	padding-bottom: 10%;
}

.centralBlock div>figure {
	width: 50%;
}

.centralBlock div>div {
	width: 50%;
}

.centralBlock div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}



/*index*/
.localizacion form {
	width: 30%;
	margin: 0 auto;
	text-align: center;
}

.logo figure img {
	height: 300px;
}

.logo {
	margin-top: 5%;
	padding-bottom: 5%;
}

.Buscar {
	margin: 0 auto;
	border-radius: 10%/50%;
	padding: 1% 5% 1% 5%;
}

.localizacion .select {
	margin-left: 0;
}
/*Registro*/
.header .forma {
	top: 300%;
	left: 25%;
	width: 50%;
	background-color: white;
	position: absolute;
	-webkit-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
}

/*eleccion tipo usuario*/
.header   .tipUsuario {
	position: fixed;
	min-width:290px;
	border-radius: 10px;
	width: 25%;
	padding: 1% 1% 1% 1%;
	right: 37.5%;
	top: 50%;
	text-align: center;
	background-color: white;
	box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.header .tipUsuario>label {
	display: block;
	margin-bottom: 5%;
}

/*ventana emergente registro*/
.header>.registro {
	position: fixed;
	border-radius: 10px;
	min-width:290px;
	top: 50%;
	right: 37.5%;
	width: 25%;
	padding: 1% 1% 1% 2%;
	background-color: white;
	-webkit-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
}
.header>.confirmacion{
	min-width:290px;
		position: fixed;
	border-radius: 10px;
	top: 50%;
	right: 37.5%;
	width: 25%;
	padding: 1% 1% 1% 2%;
	background-color: white;
	-webkit-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
}
.header>.idiomas{
	min-width:290px;
	position: fixed;
	top: 50%;
	right: 37.5%;
	width: 25%;
	padding: 1% 1% 1% 2%;
	background-color: white;
	-webkit-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.75);
}

#arrow-bottom:checked ~ .header>div>label:nth-child(4)>div:before, #registro:checked 
	 ~ .header>div>label:nth-child(4)>div:before, #Idiomas:checked ~
	.header>div>label:nth-child(4)>div:before, #logIn:checked ~
	.header>div>label:nth-child(4)>div:before {
	content: "\7a";
	display: block;
}
