<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>abastos</display-name>


	<welcome-file-list>

		<welcome-file>precreate</welcome-file>

	</welcome-file-list>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<servlet>

		<servlet-name>PrecreateServlet</servlet-name>

		<servlet-class>com.abastos.market.web.controllers.PrecreateServlet</servlet-class>
		
	</servlet>
	  <servlet-mapping>
        <servlet-name>PrecreateServlet</servlet-name>
        <url-pattern>/precreate</url-pattern>
    </servlet-mapping>
	<filter>
		<filter-name>InitSessionFilter</filter-name>
		<filter-class>com.abastos.market.web.filters.InitSessionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>userParticularFilter</filter-name>
		<filter-class>com.abastos.market.web.filters.userParticularFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuthenticationFilterParticular</filter-name>
		<filter-class>com.abastos.market.web.filters.AuthenticationFilterParticular</filter-class>
	</filter>
	<filter>
		<filter-name>AuthenticationFilterEmpresa</filter-name>
		<filter-class>com.abastos.market.web.filters.AuthenticationFilterEmpresa</filter-class>
	</filter>
	<filter>
		<filter-name>AuthenticationFilterUsuario</filter-name>
		<filter-class>com.abastos.market.web.filters.AuthenticationFilterUsuario</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>InitSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilterParticular</filter-name>
		<url-pattern>/html/particular/private/*</url-pattern>
		<url-pattern>/html/pedido/*</url-pattern>

	</filter-mapping>

	<filter-mapping>
		<filter-name>AuthenticationFilterEmpresa</filter-name>
		<url-pattern>/html/empresa/private/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilterUsuario</filter-name>
		<url-pattern>/html/empresa/*</url-pattern>
		<url-pattern>/html/particular/*</url-pattern>

	</filter-mapping>
	<filter-mapping>
		<filter-name>userParticularFilter</filter-name>
		<url-pattern>/carrito</url-pattern>
		<url-pattern>/html/tienda/search-tienda.jsp</url-pattern>
	</filter-mapping>



</web-app>